.success-snack{
  background: #43a047 !important;
  color: white !important;
}

.warning-snack{
  background: #ffa000 !important;
  color: white !important;
}

.error-snack{
  background: #d32f2f !important;
  color: white !important;
}

.info-snack{
  background: #1976d2 !important;
  color: white !important;
}

